:root {
  --dark: #212121;
  --light: #f3f3f3;
  --font: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  font-family: var(--font);
  width: 100%;
}
